Repository music-encoding/music-encoding, pull requests merged in 2022-05, with the labels that each got.

#956 remove rule for Courier
  source/web/css/mei-website.css
Labels: Component: Guidelines & Documentation

#961 fix file paths for build process
  utils/guidelines_xslt/odd2html/config.xsl
  utils/guidelines_xslt/odd2html/prepareLiveExamples.xsl
  utils/guidelines_xslt/odd2html/preparePDF.xsl
Labels: Component: Utils

#962 Build clean up
  build.xml
  utils/guidelines_xslt/odd2html/preparePDF.xsl
Labels: Component: Utils, Component: Build

#963 Fix typo in moduleSpecs resulting in a typo in the guidelines
  utils/guidelines_xslt/odd2html/specs/moduleSpecs.xsl
Labels: Component: Utils

#964 Fix doubled abbr-tag in tune.Hz description
  source/modules/MEI.gestural.xml
Labels: Component: Core Schema

#958 Fix wrong reference to model class
  customizations/mei-Neumes.xml
Labels: Status: Ready To Merge, Type: Bugfix, Component: Customizations

#947 fix data.COLOR
  source/modules/MEI.xml
Labels: Component: Guidelines & Documentation, Status: Ready To Merge, Type: Bugfix

#955 keep version folder in search result link
  utils/guidelines_xslt/odd2html/generateSearchIndex.xsl
Labels: Status: Needs Review, Component: Utils
