Repository music-encoding/music-encoding, pull requests merged in 2022-09, with the labels that each got.

#983 Change model.syllablePart
  customizations/mei-Neumes.xml
  source/modules/MEI.shared.xml
Labels: Component: Core Schema, Status: Ready To Merge, Component: Customizations

#975 Change allowed values for transposition
  source/modules/MEI.shared.xml
Labels: Component: Core Schema, Status: Needs Review

#992 Fix/934
  source/modules/MEI.header.xml
Labels: Component: Core Schema, Status: Needs Review, Type: Bugfix

#997 add shell scripts for local testing of build process
  .github/workflows/deploy.yml
  build.sh
  build_ant.sh
  build_generated-images.sh
  build_prince.sh
  entrypoint_ant-worker.sh
Labels: Component: Workflows
