Repository music-encoding/music-encoding, pull requests merged in 2022-01, with the labels that each got.

#881 Clarify that @oct in <note> changes between B and C
  source/docs/04-cmn.xml
Labels: Component: Guidelines & Documentation

#886 Win build
  build.xml
Labels: Priority: Critical, Component: Build

#888 Ftr build any customization
  build.xml
Labels: Type: Feature Request, Component: Build

#884 Specify naming conventions of Scientific Pitch Notation
  source/docs/04-cmn.xml
Labels: Component: Guidelines & Documentation

#893 always specify full path
  build.xml
Labels: Component: Build

#898 Beautify markdown structure of README
  README.md
Labels: Status: Ready To Merge, Type: Cleanup

#895 Update build process to Saxon 10
  .github/workflows/deploy.yml
  README.md
  build.xml
Labels: Component: Workflows, Component: Build

#896 add template for abbreveations
  utils/guidelines_xslt/odd2html/guidelines.xsl
Labels: Component: Utils

#843 Allow simple calculus in numerator of meterSig
  source/docs/04-cmn.xml
  source/images/modules/cmn/Bartok_Mikrokosmos_103.png
  source/images/modules/cmn/Bartok_Mikrokosmos_152.png
  source/modules/MEI.shared.xml
Labels: Component: Guidelines & Documentation, Component: Core Schema, Status: Needs Decision, Status: Needs Review

#894 remove deprecated fingerprint
  source/modules/MEI.header.xml
  source/modules/MEI.msDesc.xml
Labels: Component: Core Schema, Status: Ready To Merge, Type: Cleanup

#903 fix typo in html class
  utils/guidelines_xslt/odd2html/htmlFile.xsl
Labels: Component: Utils
