Repository music-encoding/music-encoding, pull requests merged in 2023-09, with the labels that each got.

#1332 gh-actions: fix release workflow
  .github/workflows/deploy.yml
Labels: Component: Workflows

#1337 hotfix: update schema url in guideline examples
  source/docs/01-introduction.xml
  source/examples/svg/svg-example.xml
  source/examples/verovio/04-score-redefinition.mei
  source/examples/verovio/accid-03.mei
  source/examples/verovio/alteration.mei
  source/examples/verovio/ars_antiqua.mei
  source/examples/verovio/augmentation.mei
  source/examples/verovio/editorial_example.mei
  source/examples/verovio/imperfection.mei
  source/examples/verovio/implicit-mensuration.mei
  source/examples/verovio/mensuration_changes.mei
  source/examples/verovio/motet_fauvel_fol22r_triplum.mei
  source/examples/verovio/notes_rests.mei
  source/examples/verovio/octave-shift-01.mei
  source/examples/verovio/partial-imp-01-propinquam.mei
  source/examples/verovio/partial-imp-02-bilateral.mei
  source/examples/verovio/partial-imp-03-remotam.mei
  source/examples/verovio/partial-imp-04-remotam.mei
  source/examples/verovio/tempo-01.mei
Labels: Component: Guidelines & Documentation

#1339 utils: fix git head
  utils/guidelines_xslt/odd2html/functions.xsl
Labels: Component: Utils

#1340 utils: fix typo
  utils/guidelines_xslt/odd2html/functions.xsl
Labels: Component: Utils

#1342 gh-actions: Remove zip step
  .github/workflows/deploy.yml
Labels: Component: Workflows
