Repository music-encoding/music-encoding, pull requests merged in 2023-02, with the labels that each got.

#1075 Fix `@dur` missing on /chord in MEI Basic. Fixes #1069
  customizations/mei-basic.xml
Labels: Component: Customizations

#1076 Fix some wrong references to attribute classes in MEI basic
  customizations/mei-basic.xml
Labels: Component: Customizations

#1080 Fixed: Remove confusing paragraph about attributes
  source/docs/04-cmn.xml
Labels: Component: Guidelines & Documentation, Type: Bugfix

#1074 remodel acquisition after provenance
  source/modules/MEI.header.xml
Labels: Component: Core Schema
