Repository music-encoding/music-encoding, pull requests merged in 2024-05, with the labels that each got.

#1458 build: drop os and use pathlib in generate-examples.py
  utils/examples/generate-examples.py
Labels: Component: Utils

#1457 schema: make all members of att.controlEvent also part of att.color
  customizations/mei-Mensural.xml
  source/modules/MEI.cmn.xml
  source/modules/MEI.cmnOrnaments.xml
  source/modules/MEI.harmony.xml
  source/modules/MEI.shared.xml
  source/modules/MEI.visual.xml
Labels: Component: Core Schema, Component: Customizations

#1472 schema: make directive-like elements member of att.verticalGrp
  source/modules/MEI.visual.xml
Labels: Component: Core Schema
