Repository music-encoding/music-encoding, pull requests merged in 2024-02, with the labels that each got.

#1420 build: use version number for canonicalized source file
  .github/workflows/deploy.yml
  build.xml
Labels: Status: Ready To Merge, Component: Workflows, Component: Build

#1421 schema: change rng:empty to tei:empty
  customizations/mei-Mensural.xml
  customizations/mei-basic.xml
  source/modules/MEI.cmn.xml
  source/modules/MEI.cmnOrnaments.xml
  source/modules/MEI.edittrans.xml
  source/modules/MEI.harmony.xml
  source/modules/MEI.mensural.xml
  source/modules/MEI.midi.xml
  source/modules/MEI.neumes.xml
  source/modules/MEI.ptrref.xml
  source/modules/MEI.shared.xml
  source/modules/MEI.stringtab.xml
  source/modules/MEI.usersymbols.xml
Labels: Component: Core Schema, Status: Ready To Merge, Component: Customizations

#1423 repo: remove outdated lists
  source/unusedImages.txt
  source/usedImages.txt
Labels: Status: Ready To Merge

#1431 guidelines: fix listing 128
  source/examples/verovio/04-score-redefinition.mei
Labels: Component: Guidelines & Documentation, Status: Ready To Merge, Type: Bugfix
