Repository music-encoding/music-encoding, pull requests merged in 2024-07, with the labels that each got.

#1491 utils: separate contributor list from index generation
  utils/guidelines_xslt/odd2html.xsl
  utils/guidelines_xslt/odd2html/functions.xsl
Labels: Component: Utils

#1500 build: update Prince version in build instructions
  BUILD_COMMANDLINE.md
Labels: Component: Build

#1497 guidelines: encode quotes
  source/docs/03-metadata.xml
  source/docs/04-cmn.xml
  source/docs/08-lyricsperfdir.xml
  utils/guidelines_xslt/odd2html/guidelines.xsl
Labels: Component: Guidelines & Documentation, Component: Utils

#1445 customizations: bring back some visual attributes to staffDef in MEI Basic
  customizations/mei-basic.xml
Labels: Status: Ready To Merge, Component: MEI Basic, Component: Customizations

#1482 utils: resolve macro groups in contained-by facet
  utils/guidelines_xslt/odd2html/specs/genericSpecFunctions.xsl
Labels: Component: Utils

#1468 customizations: add tablature schema (Tablature IG)
  source/docs/07-tablature.xml
  source/examples/tablature/tablature-sample001.txt
  source/examples/tablature/tablature-sample002.txt
  source/examples/tablature/tablature-sample003.txt
  source/examples/tablature/tablature-sample004.txt
  source/examples/tablature/tablature-sample005.txt
  source/examples/tablature/tablature-sample006.txt
  source/examples/tablature/tablature-sample007.txt
  source/examples/tablature/tablature-sample008.txt
  source/examples/tablature/tablature-sample009.txt
  source/examples/tablature/tablature-sample010.txt
  source/examples/tablature/tablature-sample011.txt
  source/examples/tablature/tablature-sample353.txt
  source/examples/tablature/tablature-sample354.txt
  source/examples/tablature/tablature-sample355.txt
  source/examples/tablature/tablature-sample356.txt
  source/examples/tablature/tablature-sample357.txt
  source/modules/MEI.analytical.xml
  source/modules/MEI.gestural.xml
  source/modules/MEI.shared.xml
  source/modules/MEI.stringtab.xml
  source/modules/MEI.visual.xml
  source/modules/MEI.xml
Labels: Component: Guidelines & Documentation, Component: Core Schema

#1504 doc: improve header and readability of tempo example
  source/examples/verovio/tempo-01.mei
Labels: Component: Guidelines & Documentation

#1398 schema: add att.dataSelecting and add it to symbolDef
  source/modules/MEI.shared.xml
  source/modules/MEI.usersymbols.xml
Labels: Component: Core Schema

#1509 utils: fix url creation for processing instructions in canonicalized file
  utils/canonicalization/copy.xsl
Labels: Component: Utils
