Repository music-encoding/music-encoding, pull requests merged in 2024-06, with the labels that each got.

#1480 schema: fix reference to verticalGroup class
  source/modules/MEI.visual.xml
Labels: Component: Core Schema

#1456 build: update Saxon and Xerces to latest stable
  BUILD_COMMANDLINE.md
  build.xml
Labels: Component: Build

#1486 customizations: update schemaSpec ident attribute for customizations
  customizations/mei-CMN.xml
  customizations/mei-Mensural.xml
  customizations/mei-Neumes.xml
  customizations/mei-all.xml
  customizations/mei-all_anyStart.xml
  customizations/mei-basic.xml
Labels: Component: Customizations
