Repository music-encoding/music-encoding, pull requests merged in 2025-07, with the labels that each got.

#1596 schema: revise handling of agent-like elements (`model.respLikePart`)
  customizations/mei-basic.xml
  source/docs/03-metadata.xml
  source/docs/09-textencoding.xml
  source/modules/MEI.frbr.xml
  source/modules/MEI.header.xml
  source/modules/MEI.shared.xml
  source/validation/mei_odds.rng
Labels: Component: Guidelines & Documentation, Component: Core Schema, Component: Customizations, Component: Validation

#1696 tests: update schema path
  source/examples/verovio/tchaikovsky_scherzo.mei
  tests/mei-CMN/altsym_ornaments.mei
  tests/mei-CMN/stem-sameas-testing.mei
  tests/mei-all/altsym_ornaments.mei
  tests/mei-all/mei2015_testing.mei
  tests/mei-all_anyStart/accid-visible.mei
  tests/mei-all_anyStart/fingering01.mei
  tests/mei-all_anyStart/fingering02.mei
  tests/mei-all_anyStart/fingering03.mei
  tests/mei-all_anyStart/fingering04.mei
  tests/mei-all_anyStart/fingering05.mei
  tests/mei-all_anyStart/fingering06.mei
  tests/mei-all_anyStart/fingering07.mei
  tests/mei-all_anyStart/front-allows-mixed-pb.mei
  tests/mei-all_anyStart/line-additional-attributes.mei
  tests/mei-all_anyStart/ornament.xml
Labels: Component: Guidelines & Documentation, Type: Cleanup

#1701 docs: update README with correct schema names and paths
  CONTRIBUTING.md
  README.md
Labels: Type: Bugfix

#1699 gh-actions: build schemata and provide as artifact
  .github/workflows/ci_build.yml
Labels: Component: Workflows
