Repository music-encoding/music-encoding, pull requests merged in 2025-01, with the labels that each got.

#1572 Fix: color attribute in harm
  customizations/mei-basic.xml
Labels: Component: Customizations

#1573 ci(gh-actions): update actions and switch to commit sha
  .github/workflows/deploy.yml
  .github/workflows/pr-labeler.yml
Labels: Component: Workflows

#1577 guidelines: fix links in intro
  source/docs/01-introduction.xml
Labels: Component: Guidelines & Documentation

#1581 guidelines: add missing contributors
  source/contributors/curated.contributors.json
Labels: Component: Guidelines & Documentation

#1585 repo: merge stable into develop after release 5.1
  .github/workflows/deploy.yml
  .github/workflows/pr-labeler.yml
  build.properties
  customizations/mei-CMN.xml
  customizations/mei-Mensural.xml
  customizations/mei-Neumes.xml
  customizations/mei-all.xml
  customizations/mei-all_anyStart.xml
  customizations/mei-basic.xml
  source/contributors/curated.contributors.json
  source/docs/01-introduction.xml
  source/docs/02-shared.xml
  source/docs/04-cmn.xml
  source/docs/05-mensural.xml
  source/docs/07-tablature.xml
  source/docs/12-facsimilesrecordings.xml
  source/examples/header/header-sample088.txt
  source/examples/neumes/neumes-sample169.txt
  source/examples/shared/shared-sample0000.txt
  source/examples/shared/shared-sample0001.txt
  source/examples/shared/shared-sample0002.txt
  source/examples/shared/shared-sample0003.txt
  source/examples/svg/svg-example.xml
  source/examples/tablature/tablature-sample014.txt
  source/examples/tablature/tablature-sample015.txt
  source/examples/verovio/04-score-redefinition.mei
  source/examples/verovio/accid-03.mei
  source/examples/verovio/alteration.mei
  source/examples/verovio/ars_antiqua.mei
  source/examples/verovio/att-corresp.mei
  source/examples/verovio/augmentation.mei
  source/examples/verovio/editorial_example.mei
  source/examples/verovio/imperfection.mei
  source/examples/verovio/implicit-mensuration.mei
  source/examples/verovio/mensuration_changes.mei
  source/examples/verovio/motet_fauvel_fol22r_triplum.mei
  source/examples/verovio/notes_rests.mei
  source/examples/verovio/octave-shift-01.mei
  source/examples/verovio/partial-imp-01-propinquam.mei
  source/examples/verovio/partial-imp-02-bilateral.mei
  source/examples/verovio/partial-imp-03-remotam.mei
  source/examples/verovio/partial-imp-04-remotam.mei
  source/examples/verovio/tchaikovsky_scherzo.mei
  source/examples/verovio/tempo-01.mei
  source/mei-source.xml
  source/modules/MEI.analytical.xml
  source/modules/MEI.gestural.xml
  source/modules/MEI.shared.xml
  source/modules/MEI.visual.xml
  source/modules/MEI.xml
  source/validation/mei_odds.rng
Labels: Component: Guidelines & Documentation, Component: Core Schema, Component: Workflows, Component: Customizations, Component: Validation
